
#CloseEd, #closeTip{
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    width: 4vw;
    height: 5vh;
    background: red;
    z-index: 10;
    border-radius: 7.5px;

}

#closeTip:hover, #CloseEd:hover{
    background: orange;
    cursor: pointer;
}
.modelCollect{
    position: relative;
    width: 25%;
    height: 100%;
    display: block;
    margin: auto;
    left: 15%;
}
.model{
    position: absolute;
    width:50%;
    height: 25%;
    left: 25%;
    overflow: hidden;
}
.model[type="top"]{
    top: 20%;
    height: 20%;
}
.model[type="cen"]{
    top: 40%;
    height: 25%;
}
.model[type="bot"]{
    top: 60%;
}
.status{
    position: absolute;
    font-family: Alloy;
    left: 12.5%;
    color: white;
}
.status[type="top"]{
    top: 20%;
}
.status[type="cen"]{
    top: 40%;
}
.status[type="bot"]{
    top: 60%;
}
.titleM{
    font-size: 12.5px;
}
.larger{
    font-size: 20px;
    color: rgb(223, 208, 0);

}
.coin{
    position: relative;
    width: 25px;
    height: 25px;
    top: 7.5;
}

.preButt{
    position: absolute;
    width: 5%;
    height: 10%;
    left: 50%;
    border:0;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.arrowPre{
    width: 100%;
    height: 100%;
    background-image: url(../pic/arrow.png) !important;
    background-size: 100% 100%;
    transform: rotate(180deg);
}
.arrowNext{
    width: 100%;
    height: 100%;
    background-image: url(../pic/arrow.png) !important;
    background-size: 100% 100%;
}
.nextButt{
    position: absolute;
    width: 5%;
    height: 10%;
    left: 75%;
    -webkit-appearance: none;
    border:0;
    background: none;
    cursor: pointer;
}
.head{
    top: 20%;
}
.cen{
    top: 40%;
}
.bot{
    top: 60%;
}
.status_package{
    position: absolute;
    width: 50%;
    height: 10%;
    bottom: 5%;
    left: 65%;
    font-family: Alloy;
    color: rgb(223, 208, 0);
}