.quiz{
    font-family: Alloy;
    text-indent: 30px;
    margin-left: 5%;
    margin-top: 2.5%;
    color:rgb(32, 218, 125);
}
.ImgEvent{
    width: 70%;
    height: 60%;
    margin: auto;
    background: black;
    border-radius: 10px;
}
.ImgEvent[data-situation="Polution"]{
    background: url(../pic/polution.png);
    background-size: 100% 100%;
}
.ImgEvent[data-situation="Product"]{
    background: url(../pic/product_problem.png);
    background-size: 100% 100%;
}
.ImgEvent[data-situation="Envelonment"]{
    background: url(../pic/env.png);
    background-size: 100% 100%;
}
.allChoice{
    position: relative;
    display: flex;
    width: 80%;
    height: 10%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
}
.choice{
    position: relative;
    width: 25%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom, yellow, gold);
    z-index: 10;
    margin: auto;
}
.ToLanding{
    position: absolute;
    width: 15%;
    height: 10%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(144, 144, 243), navy);
    color:white;
    font-size: 15px;
    bottom: 5%;
    left: 42.5%;
    font-family: Alloy;

}