.recStyle{
    position: relative;
    width: 35vw;
    height: 20vh;
    background: gold;
    overflow: auto;
    bottom: 30%;
    border-radius: 20px;
    left: -2%;
    font-family: Alloy;
    z-index: 2;
    overflow-x: hidden;
}
.record{
    position: relative;
}
#titleRec{
    position: sticky;
    top: 0;
    width: 100%;
    height: 20%;
    background: none;
    color: black;
    z-index: 5;
    transition: .1ms;
}
#titleRec:hover{
    background-color: rgb(253, 224, 56);

}
table{
    position: absolute;
    width: 80%;
    font-size: 2.5vh;
    color: black;
    margin-left: 10%;
}

h1{
    position: sticky;
    top: 10;
    font-size: 3.5vh;
    text-align: center;
}
.openRec{
    height: 40vh;
    bottom: 40%;
}
.fameBar{
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 10px;
    background: green;
    overflow: hidden;
    border-radius: 10px;
}
#badFame, .bad_fame_percent{
    position: absolute;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background: red;
    transition: 2s;
}
.hideNshow_status{
    position: absolute;
    right: 0;
    top: 0;
    width: 7.5%;
    height: 100%;
    background: none;
    z-index: 10;
}
#hideToggle{
    position: absolute;
    width: 100%;
    height:27.5%;
    background: url(../pic/hideButt.png);
    background-size: cover;
    border-radius: 50%;
    top:36.25%;
    border: none;
    transition: 0.5s;
}
.rotateInvert{
    transform: rotate(180deg);
}

.hideStatus{
    left:-32.5%;
}
.report{
    position: absolute;
    width: 50vw;
    height: auto;
    overflow: auto;
    bottom: 40%;
    border-radius: 20px;
    left: 15%;
    font-family: Alloy;
    z-index: 2;
    overflow-x: hidden;
    border: 2px black;
    font-size: 30px;
    color: white;
}
.tableHead{
    font-size: 35px;
    text-align: center;

}
.endFameBar{
    position: absolute;
    width: 40%;
    height: 5%;
    background: green;
    border-radius:20px;
    bottom: 27.5%;
    left: 30%;
}
#summary{
    position: absolute;
    width: 25vw;
    height: 50vh;
    background: gold;
    border-radius: 20px;
    bottom: 0;
    left: 0;
}
