body, html {
    background-color: black;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.preload, .landing {
    display: block;
    height: 100vh;
}

.preload {
    z-index: 9999;
}

#epr_full, #epr_short, #bg_plastic {
    position: absolute;
    width: 100%;
}
