body, html {
    background-image: url("./img/background.png");
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.landing {
    display: block;
    height: 1080px;
}

.preload {
    z-index: 9999;
}

/* #epr_thai1,
#epr_thai2,
#epr_thai3, */
#water_top,
#head,
#waste1,
#plastic_top {
    position: absolute;
    width: 100%;
    transition: opacity 3s;
}

/* #epr_thai1,
#epr_thai2,
#epr_thai3 {
    opacity: 0;
} */

.hide {
    display: none;
    pointer-events: none;
}

#loading {
    position: relative;
    scale: 2;
}
.top_box {
    width: 100%;
    top: 5%;
    height: 5%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.pswp__preloader__icn {
    opacity:0.75;
    width: 14px;
    height: 14px;
    -webkit-animation: clockwise 500ms linear infinite;
    animation: clockwise 500ms linear infinite;
}
.pswp__preloader__cut {
    position: relative;
    width: 7px;
    height: 14px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.pswp__preloader__donut--fake {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    margin:0;
}
.pswp__preloader__donut {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid #FFF;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    margin:0;
    -webkit-animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;
    animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;
}
@-webkit-keyframes clockwise {
    0% { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(360deg) }
}
@keyframes clockwise {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}
@-webkit-keyframes donut-rotate {
    0% { -webkit-transform: rotate(0) }
    50% { -webkit-transform: rotate(-140deg) }
    100% { -webkit-transform: rotate(0) }
}
@keyframes donut-rotate {
    0% { transform: rotate(0) }
    50% { transform: rotate(-140deg) }
    100% { transform: rotate(0) }
}

.back-to-top {
    position: fixed;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: gray;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    padding: 5px;
    padding-left: 11.5px;
}
.back-to-top i {
    font-size: 25px;
    color: #fff;
    line-height: 0;
}
.back-to-top:hover {
    background: whitesmoke;
    color: #fff;
}
.back-to-top i:hover {
    color:black;
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/* .up-down {

}
@keyframes up-down {
    0% {translateY}
} */