body, html {
    background-color: black;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#background {
    z-index: 0;
}

.preload {
    z-index: 9999;
}

#game {
    position: fixed;
    background-color: #6495ED;
    color: white;
    font-weight: bold;
    right: 15px;
    bottom: 15px;
    border-radius: 20px;
    padding: 1% 2% 1% 2%;
    border: none;
    transition: background-color 0.5s;
}
#game:hover {
    background-color: #4c6188;
    color: wheat;
}


#arrow_left_preload, #arrow_right_preload {
    display: none;
}

#pole,
#where_text1,
#where_text2,
#where_text3,
#where_text4,
#where_waste1,
#where_waste2,
#where_fish,
#where_bubble,
#howmuch_head,
#howmuch_earth,
#howmuch_thai,
#howmuch_waste1,
#howmuch_text1,
#howmuch_text2,
#howmuch_text3,
#howmuch_virus1,
#howmuch_virus2,
#howmuch_virus3,
#howmuch_virus4,
#howmuch_garbage,
#howmuch_garbage2,
#howmuch_bubble1,
#howmuch_bubble2,
#howmuch_bubble3,
#howmuch_bubble4,
#howmuch_bubble5,
#head_effect,
#effect_nature,
#effect_human,
#effect_text1,
#effect_text2,
#effect_text3,
#effect_text4,
#water_middle,
#water_middle2,
#quotes,
#background,
#head_where,
#water_top,
#head,
#waste1,
#waste2,
#head_solve,
#solve_text1,
#solve_reduce,
#solve_reuse,
#solve_repair,
#solve_recycle,
#solve_reject,
#solve_fish,
#solve_text2,
#plastic_top {
    position: absolute;
    width: 100%;
    user-select: none;
}

#water_top {
    margin-top: 25vw;
}
#waste1 {
    margin-top: 25vw;
    animation: up-down 2.5s linear infinite alternate;
}
#waste2 {
    width: 40%;
    margin-top: 60vw;
    margin-left: 46vw;
    animation: up-down 3s linear 1s infinite alternate;
}

#quotes {
    width: 45%;
    margin-top: 60vw;
}

/* ——————————————————————— Where ——————————————————————— */
#water_middle2 {
    opacity: 50%;
}
#head_where {
    width: 45%;
    margin-top: 90vw;
    margin-left: 27.4vw;
}
#pole {
    width: 50%;
    margin-top: 120vw;
    margin-left: 26.7vw;
}
.btn1,
.btn2,
.btn3 {
    position: absolute;
    transition: opacity 0.5s;
    cursor: pointer;
    width: 16%;
    margin-left: 46vw;
}
.btn1 {
    margin-top: 120.75vw;
    width:8%;
}
.btn2 {
    margin-top: 140.8vw;
    width:8%;
}
.btn3 {
    margin-top: 161.2vw;
    width:8%;
}
/* #button_where1:hover, #button_where2:hover, #button_where3:hover {
    animation: wipwub 0.5s linear infinite alternate;
}
@keyframes wipwub {
    0% {opacity: 100;}
    100% {opacity: 0;}
} */
#where_text1,
#where_text2,
#where_text3,
#where_text4 {
    transition: opacity 1s;
    opacity: 0;
}
#where_text1 {
    width: 33%;
    margin-top: 111vw;
    margin-left: 9vw;
}
#where_text2 {
    width: 23%;
    margin-top: 124vw;
    margin-left: 25vw;
}
#where_text3 {
    width: 40%;
    margin-top: 132vw;
    margin-left: 52vw;
}
#where_text4 {
    width: 40%;
    margin-top: 152vw;
    margin-left: 5vw;
}
#where_waste1 {
    width: 28%;
    margin-top: 120vw;
    margin-left: 56vw;
}
#where_waste2 {
    width: 32%;
    margin-top: 133vw;
    margin-left: 10vw;
}
#where_fish {
    width: 28%;
    margin-top: 150vw;
    margin-left: 61vw;
}
#where_bubble {
    width: 32%;
    margin-top: 149vw;
    margin-left: 59vw;
}

/* ——————————————————————— howmuch ——————————————————————— */
#howmuch_head {
    width: 34%;
    margin-top: 215vw;
    margin-left: 53vw;
}
#howmuch_earth,
#howmuch_virus1,
#howmuch_virus2,
#howmuch_virus3,
#howmuch_virus4 {
    transition: opacity 1s;
}
#howmuch_earth {
    width: 48%;
    margin-top: 203vw;
    margin-left: 2vw;
}
#howmuch_virus1 {
    width: 10%;
    margin-top: 209vw;
    margin-left: 10vw;
}
#howmuch_virus2 {
    width: 8%;
    margin-top: 230vw;
    margin-left: 18vw;
}
#howmuch_virus3 {
    width: 13%;
    margin-top: 214vw;
    margin-left: 22vw;
}
#howmuch_virus4 {
    width: 11%;
    margin-top: 207vw;
    margin-left: 31vw;
}
#howmuch_garbage,
#howmuch_garbage2,
#howmuch_bubble1,
#howmuch_bubble2,
#howmuch_bubble3,
#howmuch_bubble4,
#howmuch_bubble5,
#howmuch_thai,
#howmuch_waste1 {
    opacity: 0;
    transition: opacity 1s;
}
#howmuch_thai {
    width: 55%;
    margin-top: 200vw;
}
#howmuch_waste1 {
    width: 20%;
    margin-top: 228vw;
    margin-left: 23vw;
}
#howmuch_garbage {
    width: 40%;
    margin-top: 216vw;
    margin-left: 3vw;
}
#howmuch_garbage2 {
    width: 20%;
    margin-top: 213vw;
    margin-left: 15vw;
}
#howmuch_bubble1 {
    width: 10%;
    margin-top: 210vw;
    margin-left: 25vw;
}
#howmuch_bubble2 {
    width: 12%;
    margin-top: 214vw;
    margin-left: 10vw;
}
#howmuch_bubble3 {
    width: 9%;
    margin-top: 225vw;
    margin-left: 5vw;
}
#howmuch_bubble4 {
    width: 11%;
    margin-top: 220vw;
    margin-left: 24vw;
}
#howmuch_bubble5 {
    width: 9%;
    margin-top: 227vw;
    margin-left: 33vw;
}
#howmuch_text1,
#howmuch_text2,
#howmuch_text3 {
    transition: opacity 1s;
    opacity: 0;
}
#howmuch_text1 {
    opacity: 100;
}
#howmuch_text1,
#howmuch_text2 {
    width: 36%;
    margin-top: 223vw;
    margin-left: 51vw;
}
#howmuch_text3 {
    width: 36%;
    margin-top: 224vw;
    margin-left: 51vw;
}
#arrow_left,
#arrow_right {
    position: absolute;
    width: 6%;
    margin-top: 231.5vw;
    cursor: pointer;
}
#arrow_left {
    margin-left: 45vw;
}
#arrow_right {
    margin-left: 87vw;
}
#arrow_right:hover {
    content: url("./img/howmuch2_right_button.png");
}
#arrow_left:hover {
    content: url("./img/howmuch2_left_button.png");
}

/* ——————————————————————— effect ——————————————————————— */
#head_effect {
    width: 40%;
    margin-top: 275vw;
    margin-left: 28.3vw;
}
#btn_nature {
    position: absolute;
    border: none;
    border-radius: 20px;
    padding: 1%;
    background-color: wheat;
    color: darkcyan;
    font-weight: bold;
    width: 25%;
    margin-top: 298vw;
    margin-left: 12vw;
    cursor: pointer;
}
#btn_nature:hover {
    background-color: rgb(209, 188, 149);
    /* color: rgb(12, 221, 221); */
}
#btn_human {
    position: absolute;
    border: none;
    border-radius: 20px;
    padding: 1%;
    background-color: brown;
    color: white;
    font-weight: bold;
    width: 25%;
    margin-top: 298vw;
    margin-left: 62vw;
    cursor: pointer;
}
#btn_human:hover {
    background-color: rgb(123, 27, 27);
}
#effect_nature {
    width: 25%;
    margin-top: 289vw;
    margin-left: 12vw;
}
#effect_human {
    width: 26%;
    margin-top: 288.1vw;
    margin-left: 60vw;
}
#effect_text1 {
    width: 33%;
    margin-top: 298vw;
    margin-left: 8vw;
    opacity: 0;
    transition: opacity 1s;
}
#effect_text2 {
    width: 33%;
    margin-top: 297vw;
    margin-left: 58vw;
    opacity: 0;
    transition: opacity 1s;
}
#effect_text3 {
    margin-top: 313vw;
    opacity: 0;
    transition: opacity 2s;
}
#effect_text4 {
    margin-top: 328vw;
    opacity: 0;
    transition: opacity 2s;
}

/* ——————————————————————— effect ——————————————————————— */
#head_solve,
#solve_text1,
#solve_text2,
#solve_reuse,
#solve_reduce,
#solve_recycle,
#solve_repair,
#solve_reject {
    opacity: 0;
    transition: opacity 1s;
}
#head_solve {
    width: 35%;
    margin-top: 370vw;
    margin-left: 5vw;
}
#solve_text1 {
    width: 28%;
    margin-top: 378vw;
    margin-left: 27vw;
}
#solve_reduce {
    width: 24%;
    margin-top: 391vw;
    margin-left: 21vw;
}
#solve_reuse {
    width: 23%;
    margin-top: 392vw;
    margin-left: 37vw;
}
#solve_repair {
    width: 23%;
    margin-top: 382vw;
    margin-left: 48vw;
}
#solve_recycle {
    width: 23%;
    margin-top: 400vw;
    margin-left: 53vw;
}
#solve_reject {
    width: 23%;
    margin-top: 407vw;
    margin-left: 38vw;
}
#solve_fish {
    width: 37%;
    margin-top: 412vw;
    margin-left: 60vw;
}
#solve_text2 {
    width: 37%;
    margin-top: 412vw;
    margin-left: 5vw;
}

/* ——————————————————————— อย่าซนสิ ——————————————————————— */
@keyframes up-down {
    0% {transform: translateY(0)}
    100% {transform: translateY(40px)}
}

.hide {
    display: none;
    pointer-events: none;
}
/* 
* Preloader หมุนๆ แบบหล่อเท่
*/
#loading {
    position: relative;
    scale: 2;
}
.top_box {
    width: 100%;
    top: 5%;
    height: 5%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.pswp__preloader__icn {
    opacity:0.75;
    width: 14px;
    height: 14px;
    -webkit-animation: clockwise 500ms linear infinite;
    animation: clockwise 500ms linear infinite;
}
.pswp__preloader__cut {
    position: relative;
    width: 7px;
    height: 14px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.pswp__preloader__donut--fake {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    margin:0;
}
.pswp__preloader__donut {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid #FFF;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    margin:0;
    -webkit-animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;
    animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;
}
@-webkit-keyframes clockwise {
    0% { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(360deg) }
}
@keyframes clockwise {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}
@-webkit-keyframes donut-rotate {
    0% { -webkit-transform: rotate(0) }
    50% { -webkit-transform: rotate(-140deg) }
    100% { -webkit-transform: rotate(0) }
}
@keyframes donut-rotate {
    0% { transform: rotate(0) }
    50% { transform: rotate(-140deg) }
    100% { transform: rotate(0) }
}

/* 
* Back to top button
*/
.back-to-top {
    position: fixed;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 80px;
    z-index: 996;
    background: gray;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    padding: 5px;
    padding-left: 11.5px;
}
.back-to-top i {
    font-size: 25px;
    color: #fff;
    line-height: 0;
}
.back-to-top:hover {
    background: whitesmoke;
    color: #fff;
}
.back-to-top i:hover {
    color:black;
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}